* {
   margin: 0%;
   padding: 0%;
   justify-content: center;
}

header {
   display: flex;
   background-color: antiquewhite;
   justify-content: space-between;
   padding: 0 20px;
   align-items: center;

}

.logoimg {
   display: flex;
   align-items: center;
}

.logoimg img {
   width: 100px;
}

.nav-links {
   display: flex;
   gap: 30px;
}

.nav-links>li {
   list-style: none;
}

.nav-links li a {
   text-decoration: none;
   display: flex;
   flex-direction: row;
   gap: 30px;
   font-size: 18px;
   color: black;
   padding: 0%;
}

h3 {
   color: coral;
   justify-content: center;
   font-size: 25px;
}

span {
   color: rgb(21, 8, 37);
   font-size: 25px;
}



.img img {
   width: 600px;
   padding-left: 0;
   margin-left: 9rem;
}

.div {
   display: block;
}


h1 {
   justify-content: right;
   display: flex;
   padding-top: 20px;
   color: #1d104b;
   font-size: 70px;
}




.two {
   color: #e74c3c;
   ;
}

h5 {
   color: rgb(14, 14, 70; ) font-size:20px;
   justify-content: right;
   padding: 20px;
   display: flex;
   font-size: 20px;
}

.buy {
   justify-content: right;
   background-color: blue;
   color: white;
   border: none;
   padding: 10px;
   border-radius: 5px;
   float: right;
}


.container {
   display: flex;
   text-align: center;
   justify-content: space-between;
   background-color: rgb(235, 232, 227);
}

.one {
   font-size: 40px;
   display: inline-block;
   margin: 20px 20px;
}


.card {
   background-color:
      rgb(252, 250, 250);
   border-radius: 18px;
   box-shadow: 2px 3px 2px 3px rgb(179, 176, 176);
   padding: 20px;
   width: 400px;
   transition: transform 0.3s;
}

.card h1 {
   display: flex;
   font-size: 22px;
   align-items: center;
   font-family: sans-serif;
}



.card img {
   width: 100%;
   height: auto;
   background-color: #dde2e7;
   border-radius: 10px;
}

.card-footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 15px;
}

.price {
   color: #e74c3c;
   font-weight: bold;
   font-size: 30px;
}

.buy-btn {
   background-color: #0057ff;
   color: white;
   border: none;
   padding: 10px;
   border-radius: 5px;
   cursor: pointer;
}

.buy-btn:hover {
   background-color:
      #0041c4;
}

.container2 {
   display: flex;
   flex-direction: column;
}


.item {
   background-color: white;
   border-radius: 9px;
   margin: 40px;
   padding: 20px;
   width: 500px;
   height: 200px;
}

.item img {
   height: 100px;
   width: 100px;
}

.text img { background-color: rgb(235 232 227);
   height: 390px;
   width: 650px;
   margin-top: 50px;
   padding: 50px 80px;
}

.over{ display: flex;
   background-color: rgb(253, 251, 251);
border-radius: 9px;
margin: auto;
margin: 20px;
width: 1000px;
height: 200px;
box-shadow: 2px 3px 2px 3px grey;
}

/* form{display: inline;} */
button{background-color: #0b4ccd;
   color: white;
padding: 5px;
margin: 5px;
border-radius: 5px;
width: 100px;}


button:hover{background-color: #8194bc;}