body {
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
}

header {
   display: flex;
   background-color: rgb(247, 207, 187);
   justify-content: space-between;
   padding: 0 20px;
   align-items: center;
   width: 100%;
   position: fixed;
   box-shadow: 3px 3px rgb(248, 179, 154);
}

.logoimg {
   display: flex;
   align-items: center;
}

.logoimg img {
   width: 100px;
}


.nav-links {
   display: flex;
   gap: 30px;
   align-items: center;

}

.nav-links>li {
   list-style: none;
}

.nav-links li a {
   text-decoration: none;
   display: flex;
   flex-direction: row;
   gap: 30px;
   font-size: 18px;
   color: black;
   padding: 0%;
}

h3 {
   color: coral;
   justify-content: center;
   font-size: 25px;
}

span {
   color: rgb(21, 8, 37);
   font-size: 25px;
}

.img img {
   width: 600px;
   padding-top: 50px;
   margin-left: 9rem;
}



.shoesection1 {
   display: flex;
   background-color: antiquewhite;
}

.ok {
   justify-content: right;
   font-family: "Bebas Neue", sans-serif;
   margin: 80px 50px;
   padding: 10px 10px;
}


.two {
   color: #e74c3c;
   font-size: 80px;
}

h1 {
   font-size: 80px;
}



p {
   font-size: 25px;
   margin-bottom: 1rem;
}


.buy {
   justify-content: right;
   background-color: rgb(20, 11, 199);
   color: white;
   display: inline-block;
   border: none;
   padding: 10px;
   border-radius: 5px;

}

.container1 {
   background-color: #eef0f4;
   width: 100%;
   display: flex;
   justify-content: space-between;
   flex-direction: column;

}

.shoesection {
   margin: auto;
   display: flex;
   gap: 40px;

}

.container2 {
   display: flex;
   text-align: center;
   justify-content: space-between;
   background-color: #eef0f4;
   flex-direction: column;
}

.shoesection {
   margin: auto;
   display: flex;
   gap: 40px;
}


.one {
   font-size: 40px;
   display: inline-block;
   margin: 20px 20px;
   display: flex;
}


.card {
   display: flex;
   flex-direction: column;
   background-color:
      rgb(252, 250, 250);
   border-radius: 10px;
   box-shadow: 2px 3px 2px 3px rgb(179, 176, 176);
   padding: 20px;
   width: 400px;

}

.card h1 {
   display: flex;
   font-size: 25px;
   align-items: center;
   font-family: sans-serif;
   padding-top: 10px;
}



.card img {
   width: 100%;
   height: auto;
   background-color: #e0e3e3;
   border-radius: 7px;
}

.card-footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 15px;
}

.price {
   color: #e74c3c;
   font-weight: bold;
   font-size: 30px;
}

.buy-btn {
   background-color: #0057ff;
   color: white;
   border: none;
   padding: 10px;
   border-radius: 5px;
   cursor: pointer;
}

.buy-btn:hover {
   background-color:
      #0041c4;
}

.container3 {
   background-color: #eef0f4;
   width: 100%;
   display: flex;
   flex-direction: column;
}


.item {
   background-color: white;
   border-radius: 9px;
   justify-content: center;
   margin: 20px;
   padding: 40px 30px;
   width: 450px;
   height: 120px
}

.item img {
   height: 100px;
   width: 100px;
}

/* form{display: inline;} */


.items .text {
   display: flex;
   height: 400px;
   width: 700px;
   float: right;
  padding: 20px 40px;
}

.item {
   display: flex;
   align-items: center;
   gap: 20px;
}



.over {
   width: 100%;
   justify-content: center;
   font-family: roboto;
   

}

.over {
   background-color: white;
   border-radius: 15px !important;
   margin: auto;
   width: 1400px;
   height: 200px;


}

h5 {
   text-align: center !important;
   font-size: 25px;
   padding: 20px;
   margin: 20px;
}

button {
   background-color: #0b4ccd;
   color: white;
   padding: 5px;
   margin: 5px;
   border-radius: 5px;
   width: 100px;
   height: 40px;

}

button:hover {
   background-color: #0a3287;

}

form {
   display: flex;
   padding-left: 60px;
}

input {
   width: 1000px;
}

.footer {
   display: flex;
   width: 100%;
   height: 200px;
   background-color: rgb(250, 250, 250);
}

.footer h4 {
   text-transform: uppercase;
}

.footer ul {
   list-style: none;
  
}

.footer>li {
   justify-content: space-between;
   margin: auto;
   gap: 30px;
}

.vege {
  justify-content: center;
   color: #363958;
   font-size: 15px;
   font-family: roboto;
   display: inline-block;

}

.vege {
   margin: 10px 20px;
   text-align: center;
    padding: 30px 20px;

}

h4 {
   font-size: 20px;
   text-align: center;
}



.para p {
   text-align: center!important;
   display: inline block;
   font-family: roboto;
   font-size: 20px;
   margin-top: 0px;
}

.para span {
   color: #e74c3c;
   font-size: 20px;
}